#canvas {
    z-index: 1; 
    position:absolute; 
    left:50%; 
    top:  50%;
    margin-left:-470px;
    margin-top:-250px;
    border: 2px solid black;
}

p {
    
    position:absolute; 
    font-family:  verdana;
    line-height: 2;
    font-size: 16px;
}

#below {
    left: 50%;
    top: 50%;
    margin-left: -470px;
    margin-top:+260px;   
}

#bb {
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top:-200px;
    line-height: 25px;
    margin-top:0px;
}

#title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 100px;
    line-height: 56px;
    
}

#explanation {
    left: 50%;
    top: 50%;
    line-height: 1.7;
    margin-left: 60px;
    margin-top:-230px;
    width: 500px;
}

h1 {
    
    position:absolute; 
    text-align:center;
    width: 100%; 
    left: 0px;
    top: 50%;
    margin-top:-400px;

    font-family: verdana;
    font-size: 35px;

    line-height: 44px;
}
